.form {
  color: #469050;
  font-family: "Quicksand", sans-serif;
  position: relative;
  display: block;
  font-size: 20px;
  /* margin: 20px; */
  padding-top: 20px;
  padding-left: 50px;
  min-height: 100%;
  box-sizing: border-box;
}

.page {
  width: 740px;
  padding: 0 20px 20px 20px;
  margin: 20px auto 20px auto !important;
  background-color: transparent;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
}

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  color: #24622c;
  font-size: 2em;
  font-weight: inherit;
}

.page-header {
  font-family: "Open Sans", sans-serif;
  display: block;
  line-height: normal;
  z-index: 1;
  width: 700px;
  padding: 10px 10px;
}

span {
  font-size: 10pt;
}

.page-body {
  display: block;
  width: 700px;
}

/* .container {
  padding: 0 !important;
  border-width: 0 !important;
  position: relative;
  display: block;
  width: 700px;
  padding: 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0;
} */

.control {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  width: 700px;
  padding: 10px 10px;
  border-style: none;
  line-height: normal;
  white-space: nowrap;
  position: relative;
  color: #469050;
}

.label {
  color: #469050;
  padding-bottom: 0 !important;
  font-family: "Quicksand" sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2em;
  padding-top: 10px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-align: left;
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label:hover {
  color: #24622c;
}

.input-row {
  margin-top: 8px !important;
  white-space: nowrap;
  overflow: hidden;
  clear: both;
  padding-bottom: 1px;
  display: block;
  color: #469050;
  width: 700px;
}

.input-row input {
  outline: none;
  font-size: 17px;
  font-weight: 400;
  border-radius: 3px;
  background-color: #e1f8f3;
  border: 1px solid #24622c;
  color: #469050;
  padding: 0 10px;
}
input::placeholder {
  color: #469050;
  font-family: "Quicksand", sans-serif;
}

input:hover {
  background-color: white;
}
input:focus {
  background-color: white;
  border-color: #469050;
}

input[type="date"] {
  text-transform: uppercase;
  color: #469050;
  font-family: "Quicksand", sans-serif;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

.option-text {
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 3em;
  padding-left: 10px;
}

.applicant_box {
  height: 60px;
  width: 28%;
}

.margin1 {
  margin-left: 20px;
}

.long_inputfield {
  width: 673.5px;
  height: 60px;
  font-size: 20px;
}

.address_half {
  width: 45%;
  height: 60px;
}
.margin2 {
  margin-left: 22px;
}

.academic {
  width: 678px;
  height: 120px;
  font-size: 20px;
  background-color: #e1f8f3;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid #24622c;
  color: #469050;
  padding: 0 10px;
}
.academic:hover {
  background-color: white;
}
.signature {
  width: 678px;
  height: 100px;
  font-size: 20px;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  border-radius: 3px;
  background-color: #e1f8f3;
  border: 1px solid #24622c;
  color: #469050;
  padding: 0 10px;
}

.text-baseline {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #aaa;
  bottom: 38px;
  pointer-events: none;
  margin-left: 20px;
  margin-right: 20px;
}

.page-footer {
  margin: auto;
  align-items: center;
  margin-left: 100px;
}

button {
  vertical-align: middle;
  margin-bottom: 0;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 2em;
  padding: 0 50px;
  margin: 0 10px 0 calc(20px / 2);
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  min-height: calc(8px + 2em + 8px);
  margin-top: 10px;
  display: inline-block;
  box-sizing: content-box;
}

.abuse-disclaimer {
  color: #469050;
  margin-top: 10px;
  font-size: 14px;
  line-height: 21px;
  padding-left: 29px;
  opacity: 0.7;
}

a {
  color: #469050;
}

.submit {
  background-color: #24622c;
  border-color: transparent;
  color: #ffffff;
}

.submit:hover {
  cursor: pointer;
  background-color: #469050;
  border-color: transparent;
  color: #ffffff;
}
