.form {
  color: #469050;
  font-family: "Quicksand", sans-serif;
  position: relative;
  display: block;
  font-size: 20px;
  /* margin: 20px; */
  padding-top: 20px;
  /* padding-left: 60px; */
  min-height: 100%;
  box-sizing: border-box;
}

.page {
  width: 740px;
  padding: 0 20px 20px 20px;
  margin: 20px auto 20px auto !important;
  background-color: transparent;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
}

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  color: #24622c;
  font-size: 2em;
  font-weight: inherit;
}

.page-header {
  font-family: "Open Sans", sans-serif;
  display: block;
  line-height: normal;
  z-index: 1;
  width: 700px;
  padding: 10px 10px;
}

span {
  font-size: 10pt;
}

.page-body {
  display: block;
  width: 700px;
}

/* .container {
  padding: 0 !important;
  border-width: 0 !important;
  position: relative;
  display: block;
  width: 700px;
  padding: 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0;
} */

.control {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  width: 700px;
  padding: 10px 10px;
  border-style: none;
  line-height: normal;
  white-space: nowrap;
  position: relative;
  color: #469050;
}

.label {
  color: #469050;
  padding-bottom: 0 !important;
  font-family: "Quicksand" sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2em;
  padding-top: 10px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-align: left;
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label:hover {
  color: #24622c;
}

.input-row {
  margin-top: 8px !important;
  white-space: nowrap;
  overflow: hidden;
  clear: both;
  padding-bottom: 1px;
  display: block;
  color: #469050;
  width: 700px;
}

.option-text {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2em;
}

.first {
  position: relative;
  height: 55px;
  width: 30%;
}

.middle {
  height: 55px;
  position: relative;
  margin-left: 20px;
  width: 30%;
}

.last {
  height: 55px;
  position: relative;
  margin-left: 20px;
  width: 30%;
}

.parent {
  width: 690px;
  height: 55px;
  font-size: 20px;
  /* border-radius: 4px; */
}

.phone {
  width: 690px;
  height: 55px;
  font-size: 20px;
}

.academic {
  width: 690px;
  height: 120px;
  font-size: 20px;
  background-color: #e1f8f3;
}
.signature {
  width: 690px;
  height: 95px;
  font-size: 20px;
}

.birthday {
  width: 690px;
  height: 55px;
  font-size: 20px;
  /* border-radius: 4px; */
}

.street {
  position: relative;
  width: 690px;
  height: 55px;
  font-size: 20px;
  /* border-radius: 4px; */
}

.city {
  position: relative;
  width: 48%;
  height: 55px;
}
.state {
  position: relative;
  width: 46.5%;
  height: 55px;
  margin-left: 22px;
}

.postal {
  position: relative;
  width: 48%;
  height: 55px;
}
.country {
  position: relative;
  width: 46.5%;
  height: 55px;
  margin-left: 22px;
}

button {
  vertical-align: middle;
  margin-bottom: 0;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 2em;
  padding: 0 50px;
  margin: 0 10px 0 calc(20px / 2);
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  min-height: calc(8px + 2em + 8px);
  margin-top: 10px;
  display: inline-block;
  box-sizing: content-box;
}

.submit {
  background-color: #24622c;
  border-color: transparent;
  color: #ffffff;
}

.submit:hover {
  cursor: pointer;
  background-color: #469050;
  border-color: transparent;
  color: #ffffff;
}
